<% provide :title, 'Card Wall' %>
<h1>Wingle</h1>
<div ng-controller="CardsCtrl">
  <%= field_set_tag "Card Wall" do %>
    <form ng-submit="addCard()">
      <input type="text" ng-model="card.title"/>
      <textarea ng-model="card.description"></textarea>
      <input type="submit" value="Add"/>
    </form>
  <% end %>

  <ul>
    <li ng-repeat="card in cards">
      {{card.title}}
      {{card.description}}
    </li>
  </ul>
</div>
