<% provide :title, 'Card Wall' %>
<div ng-controller="CardsCtrl">
  <%= field_set_tag "Card Wall" do %>
    <form ng-submit="addCard()">
      <div class="title">
        <input type="text" ng-model="card.title"/>
      </div>
      <div class="description">
        <textarea ng-model="card.description"></textarea>
      </div>
      <div class="submit">
        <input type="submit" value="Add"/>
      </div>
    </form>
  <% end %>

  <div class="card_list">
    <ul>
      <li ng-repeat="card in cards">
        <div class="title_content">
          {{card.title}}
        </div>
        <div class="description_content">
          {{card.description}}
        </div>
      </li>
    </ul>
  </div>
</div>
