<% provide :title, "Card Wall" %>
<div ng-controller="CardsCtrl">
  <div class="error_list" ng-repeat="(key, value) in errors">
    <div ng-repeat="item in value">
      {{key}} {{item}}
    </div>
  </div>

  <div class="card_wall" >
    <%= field_set_tag "Card Wall" do %>
      <div class="title">
        <input type="text" ng-model="card.title"/>
      </div>
      <div class="description">
        <textarea ng-model="card.description"></textarea>
      </div>
      <button ng-click="create(card)">Add</button>
    <% end %>
  </div>

  <div ng-repeat="card in cards" class="card">
    <%= field_set_tag "{{card.id}}" do %>
      <div contenteditable="true" ng-model="card.title" ng-bind="card.title">
      </div>
      <div contenteditable="true" ng-model="card.description" ng-bind="card.description">
      </div>
      <button ng-click="update(card)">Update
      </button>
    <% end %>
  </div>
</div>
