<div class="error_list">
  <ul ng-repeat="(key, value) in errors">
    <li ng-repeat="item in value">
      {{key}} {{item}}
    </li>
  </ul>
</div>



<div class="title">
  <input type="text" ng-model="card.title"/>
</div>
<div class="description">
  <textarea ng-model="card.description"></textarea>
</div>
<button ng-click="cardsCtrl.addCard(card)"/>Add</button>



<div class="card">
  <ul ng-repeat="card in cards">
    <div class="title_content">
      {{card.title}}
    </div>
    <div class="description_content">
      {{card.description}}
    </div>
  </ul>
</div>

<card-dialog></card-dialog>
