<div class="container">

  <div class="error_list">
    <ul ng-repeat="(key, value) in cards.errors">
      <li ng-repeat="item in value">
        {{key}} {{item}}
      </li>
    </ul>
  </div>

  <div class="title">
    <input type="text" ng-model="card.title"/>
  </div>
  <div class="description">
    <textarea ng-model="card.description"></textarea>
  </div>
  <button ng-click="cardsCtrl.addCard(card)">Add</button>


  <div class="bs-docs-example">
    <div class="well">
      <ul>
        <li ng-repeat="(cards,card) in resource">
          <button type="button" class="btn btn-large btn-primary" bs-modal="'views/partials/modal.html'">
            <div class="title_content">
              {{card}}
            </div>
            <div class="description_content">
              {{card.description}}
            </div>
          </button>
        </li>
      </ul>
    </div>
  </div>


</div>
