<nav></nav>
<div class="container">
  <!-- You can also use a simple object {title:'', content:'', etc.} instead of a partial/template -->
  <button type="button" class="btn" bs-popover="popover">B button</button>

  <!-- Force close others with data-unique attribute -->
  <button type="button" class="btn" data-unique="1" bs-popover="views/partials/popover.html">C button</button>

  <div class="error_list">
    <ul ng-repeat="(key, value) in cards.errors">
      <li ng-repeat="item in value">
        {{key}} {{item}}
      </li>
    </ul>
  </div>

  <div class="title">
    <input type="text" ng-model="card.title"/>
  </div>
  <div class="description">
    <textarea ng-model="card.description"></textarea>
  </div>
  <button ng-click="cardsCtrl.addCard(card)">Add</button>


  <div class="bs-docs-example well">
    <ul>
      <li ng-repeat="card in resource.cards">
        <button type="button" class="btn btn-large btn-primary" bs-modal="'views/partials/modal.html'">
          {{card.name}}
        </button>
      </li>
    </ul>
  </div>
</div>
